* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: "Google Sans Flex", sans-serif;
}
.container {
    display: grid;
    height: 100vh;
    grid-template-rows: 5fr 1fr;
}
/*  GRID AREA */
.palette {
    display: grid;
    grid-template-columns: 2fr 3fr 2fr 2fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 24px;
    padding: 24px;
    height: 100%;
}
.box {
    border-radius: 4px;
}
/* ==== PLACEMENT ==== */
.b1 {grid-column: 1; grid-row: 1;}
.b2 {grid-column: 1; grid-row: 2;}
.b3 {grid-column: 1; grid-row: 3 / 6;}

.b4 {grid-column: 2; grid-row: 1 / 3;}
.box-right {
    display: grid;
    grid-column: 3 / 5; grid-row: 1 / 3;
    grid-template-rows: repeat(3, 1fr);
    gap: 24px;
}
.box-center {
    grid-column: 2 / 4; grid-row: 3 / 6;
    display: grid;
    grid-template-columns: 1.1fr 2.5fr;
    grid-template-rows: 1fr 1fr;
    gap: 24px;
}
.b8 {grid-row: 1; grid-row: 1;}
.b9 {grid-row: 1; grid-row: 2;}
.b10 {grid-column: 2; grid-row: 1 / 3;}
.b11 {grid-column: 4; grid-row: 3 / 6;}

/* BOX HOVER */
.footer,
.box {
    border-radius: 4px;
    border: 3px solid transparent;
    transition: border 0.15s ease;
}
.footer:hover,
.box:hover {
    border: 20px solid blue;
    cursor: pointer;
}

/* FOOTER */
.footer {
    display: flex;
    align-items: center;
    padding-left: 24px;
    font-size: 64px;
    font-weight: bold;
    background: #9BC1BC;
}

/* BACKGROUND COLORS */
.b1 {background: #0f766e;}
.b2 {background: #15803d;}
.b3 {background: #65a30d;}
.b4 {background: #84cc16;}
.b5 {background: #d9f99d;}
.b6 {background: #bef264;}
.b7 {background: #eab308;}
.b8 {background: #a3e635;}
.b9 {background: #84cc16;}
.b10 {background: #cacc00;}
.b11 {background: #0f766e;}