* {
    box-sizing: border-box;
}
body {
    height: 100vh;
    font-family: "Google Sans Flex", sans-serif;
}
.container {
    display: grid;
    height: 100vh;
    grid-template-rows: 5fr 1fr;
}
/*  GRID AREA */
.palette {
    display: grid;
    grid-template-columns: 2fr 3fr 2fr 2fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 24px;
    padding: 24px;
}
.box {
    border-radius: 4px;
}
/* ==== PLACEMENT ==== */
.b1 {grid-column: 1; grid-row: 1;}
.b2 {grid-column: 1; grid-row: 2;}
.b3 {grid-column: 1; grid-row: 3 / 5;}

/* BACKGROUND COLORS */
.b1 {background: #0f766e;}
.b2 {background: #15803d;}
.b3 {background: #65a30d;}